{% extends "layout.html" %}

{% block title %}Главная - Крестики-Нолики{% endblock %}

{% block content %}
<h2>Сохраненные игры</h2>

{% if saved_games %}
    <table class="saved-games-table">
        <thead>
            <tr>
                <th>UUID игры</th>
                <th>Тип игры</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for game in saved_games %}
                <tr>
                    <td>{{ game.game_uuid }}</td>
                    <td>{{ 'Против игрока' if game.game_type == 2 else 'Против машины' }}</td>
                    <td>
                        <form action="{{ url_for('.load_game', uuid=game.game_uuid) }}" method="get" style="display: inline;">
                            <button class="load-game-button" type="submit">Загрузить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Нет сохраненных игр.</p>
{% endif %}
{% endblock %}